
<section>
  <div class="container py-3">
    <div class="img">
              <img class="logo" src="/assets/images/Zenith (1).svg" alt="">
        <img class="logo" src="/assets/images/RIA (1).svg" alt="">
    </div>
<div class="back py-3 mt-2">

  <a class="backlink" href="http://"> < Back</a>
</div>
<div class="py-2">
  <p class="audit">Authorize Transaction</p>
  <div class="table-responsive">
      <table class="table shadow-sm">
        <thead class="thead">
           <tr class="">
 <th></th>
    <th>Trans Date</th>
    <th>Debit Acc No</th>
    <th>Amount</th>
        <th>Currency</th>
            <th>Credit Acc No</th>
                <th>Branch</th>
                    <th>Department</th>
                        <th>Status</th>
                         <th></th>
  </tr>
     
        </thead>
 
  <tr>
    <td>01</td>
    <td>20-10-2022</td>
    <td>0087987656</td>
    <td>N10,000</td>
    <td>NGN</td>
    <td>0098764455</td>
    <td>Mende</td>
    <td>Software</td>
    <td class="unatho">unauthorized
</td>
    <td>View</td>
    
  </tr>
  <tr>
    <td>01</td>
    <td>20-10-2022</td>
    <td>0087987656</td>
    <td>N10,000</td>
    <td>NGN</td>
    <td>0098764455</td>
    <td>Mende</td>
    <td>Software</td>
    <td class="unatho">unauthorized
</td>
    <td>View</td>
    
  </tr>
  <tr>
    <td>01</td>
    <td>20-10-2022</td>
    <td>0087987656</td>
    <td>N10,000</td>
    <td>NGN</td>
    <td>0098764455</td>
    <td>Mende</td>
    <td>Software</td>
        <td class="unatho">unauthorized
</td>
    <td>View</td>
    
  </tr>
</table>
      </div>

    <div class="py-3 buttons">

            <button type="submit" class="btn1 text-white me-2">Reject</button>
            <button type="submit" class="btn2 text-white">Approve</button>
        </div>


</div>
  </div>
</section>



<section>
  <div class="container">
<!-- <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <ul class="navbar-nav nav nav-pills">
    <li class="nav-item active">
      <a class="" id="tab-1" data-toggle="tab" role="tab" href="#content-1" aria-selected="true" aria-controls="content-1"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-2" data-toggle="tab" role="tab" href="#content-2" aria-selected="false" aria-controls="content-2">Cash Pickup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-3" data-toggle="tab" role="tab" href="#content-3" aria-selected="false" aria-controls="content-3">Transfer to Zenith</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-4" data-toggle="tab" role="tab" href="#content-4" aria-selected="false" aria-controls="content-4">Transfer (GAM Switch)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-5" data-toggle="tab" role="tab" href="#content-5" aria-selected="false" aria-controls="content-5">Transfer (ACP-ACH)</a>
    </li>
  </ul>
</nav> -->
<main role="main" class="container-full">
  <div class="container-full">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="content-1" aria-labelledby="tab-1" role="tabpanel"></div>
      <div class="tab-pane fade" id="content-2" aria-labelledby="tab-2" role="tabpanel"> <!-- CASH PICKUP -->
    <div class="">
        
        <div class="row paydiv shadow text-cnter">
            <div class="col-lg-6 paymenttt mb-2 py-2 bg-light "><p class="text-center text-black">Payment Options</p></div>
            <div class="col-lg-6 paymentt mb-2"><p class="text-center text-white py-2">Cash</p></div>
<!-- <div class="row paydiv shadow"> -->
    <div class="col-lg-6 acctType p-2">
 <div class="row py-3">
    <p class="px-4 acctTitle">Debit Account Information</p>
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Type</label>
                    <select class="select formName">
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >CA</option
                                   >
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >Cash Pickup</option
                                   >
                                   <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     >Transfer to Zenith</option
                                   >
                                   <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                     >Transfer (GAM Switch)</option
                                   >
                                   <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                     >Transfer (ACP-ACH)</option
                                   >
                                 </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex">

                    <label class="me-2 py-2" for="lastname">Account&nbsp;Number</label>
                    <input type="text" class=" form-control formName" placeholder="Account Number">
                </div>
            </div>
                                        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Currency</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >GMD</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Account&nbsp;Name</label>
                <input type="text" class=" form-control formName" placeholder="Account Name">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Status</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Active</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Charge&nbsp;Amount</label>
                <input type="text" class=" form-control formName" placeholder="Charge Amount">
            </div>
        </div>
                                    <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control address" placeholder="Narration">
            </div>
        </div>

       
    </div>
    </div>
    
    <div class="col-lg-6 p-2 acctType">
        <div class="row py-3">
    <p class="px-5 acctTitle">Credit Account Information</p>
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Type</label>
                    <select class="select formName">
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >CA</option
                                   >
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >Cash Pickup</option
                                   >
                                   <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     >Transfer to Zenith</option
                                   >
                                   <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                     >Transfer (GAM Switch)</option
                                   >
                                   <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                     >Transfer (ACP-ACH)</option
                                   >
                                 </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="lastname">Account&nbsp;Number</label>
                    <input type="text" class=" form-control formName" placeholder="Account Number">
                </div>
            </div>
                                        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Currency</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >GMD</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex mb-2">
                <label class="me-2 py-2" for="lastname">Account&nbsp;Name</label>
                <input type="text" class=" form-control formName" placeholder="Account Name">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Status</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Active</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Charge&nbsp;Amount</label>
                <input type="text" class=" form-control formName" placeholder="Charge Amount">
            </div>
        </div>
                                    <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control address" placeholder="Narration">
            </div>
        </div>

       
    </div>
    </div>
</div>
            
        </div>
        <!-- END OF PAYMENT -->

        <!-- AFTER PAY OPTIONS -->
        
         
    <!-- </div> -->

    
    <div class="row paydiv shadow-sm card p-2">
            <div class="col-lg-12">
                <div class="">
<p class="px-5 acctTitle text-center">Other Transaction Details</p>
                            <div class="row p-2">
            <div class="col-md-4 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="amount">Transaction&nbsp;Amount</label>
                    <input type="text"  class="form-control formName" placeholder="Transaction Amount">
                </div>
            </div>

            <div class="col-md-4 d-flex mb-2">
                <label class="me-2 py-2" for="ordernumber">Transaction&nbsp;Date</label>
                <input type="text" class=" form-control formName" placeholder="Transaction Date">
            </div>
            <div class="col-md-4 d-flex">
                <label class="me-2 py-2" for="sequencnumber">Error&nbsp;Code</label>
                <input type="text" class=" form-control formName" placeholder="Error Code">
            </div>
        </div>
                                            <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control narration" placeholder="Narration">
            </div>
        </div>
                    
                </div>

                
            </div>
            
        </div>
        <div class="py-3">

            <button type="submit" class="btn text-white">Post Transaction</button>
        </div>
    <!-- END OF CASH PICKUP CONTENT --></div>


      <div class="tab-pane fade" id="content-3" aria-labelledby="tab-3" role="tabpanel"> <!-- TRANSFER TO ZENITH -->
    <div class="">
        
        <div class="row paydiv shadow text-cnter">
            <div class="col-lg-6 paymenttt mb-2 py-2 bg-light "><p class="text-center text-black">Payment Options</p></div>
            <div class="col-lg-6 paymentt mb-2"><p class="text-center text-white py-2">Transfer to Zenith</p></div>
<!-- <div class="row paydiv shadow"> -->
    <div class="col-lg-6 acctType p-2">
 <div class="row py-3">
    <p class="px-4 acctTitle">Debit Account Information</p>
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Type</label>
                    <select class="select formName">
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >CA</option
                                   >
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >Cash Pickup</option
                                   >
                                   <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     >Transfer to Zenith</option
                                   >
                                   <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                     >Transfer (GAM Switch)</option
                                   >
                                   <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                     >Transfer (ACP-ACH)</option
                                   >
                                 </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex">

                    <label class="me-2 py-2" for="lastname">Account&nbsp;Number</label>
                    <input type="text" class=" form-control formName" placeholder="Account Number">
                </div>
            </div>
                                        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Currency</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >GMD</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Account&nbsp;Name</label>
                <input type="text" class=" form-control formName" placeholder="Account Name">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Status</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Active</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Charge&nbsp;Amount</label>
                <input type="text" class=" form-control formName" placeholder="Charge Amount">
            </div>
        </div>
                                    <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control address" placeholder="Narration">
            </div>
        </div>

       
    </div>
    </div>
    
    <div class="col-lg-6 p-2 acctType">
        <div class="row py-3">
    <p class="px-5 acctTitle">Credit Account Information</p>
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Type</label>
                    <select class="select formName">
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >CA</option
                                   >
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >Cash Pickup</option
                                   >
                                   <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     >Transfer to Zenith</option
                                   >
                                   <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                     >Transfer (GAM Switch)</option
                                   >
                                   <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                     >Transfer (ACP-ACH)</option
                                   >
                                 </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="lastname">Account&nbsp;Number</label>
                    <input type="text" class=" form-control formName" placeholder="Account Number">
                </div>
            </div>
                                        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Currency</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >GMD</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex mb-2">
                <label class="me-2 py-2" for="lastname">Account&nbsp;Name</label>
                <input type="text" class=" form-control formName" placeholder="Account Name">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Status</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Active</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Charge&nbsp;Amount</label>
                <input type="text" class=" form-control formName" placeholder="Charge Amount">
            </div>
        </div>
                                    <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control address" placeholder="Narration">
            </div>
        </div>

       
    </div>
    </div>
</div>
            
        </div>
        <!-- END OF PAYMENT -->

        <!-- AFTER PAY OPTIONS -->
        
         
    <!-- </div> -->

    
    <div class="row paydiv shadow-sm card p-2">
            <div class="col-lg-12">
                <div class="">
<p class="px-5 acctTitle text-center">Other Transaction Details</p>
                            <div class="row p-2">
            <div class="col-md-4 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="amount">Transaction&nbsp;Amount</label>
                    <input type="text"  class="form-control formName" placeholder="Transaction Amount">
                </div>
            </div>

            <div class="col-md-4 d-flex mb-2">
                <label class="me-2 py-2" for="ordernumber">Transaction&nbsp;Date</label>
                <input type="text" class=" form-control formName" placeholder="Transaction Date">
            </div>
            <div class="col-md-4 d-flex">
                <label class="me-2 py-2" for="sequencnumber">Error&nbsp;Code</label>
                <input type="text" class=" form-control formName" placeholder="Error Code">
            </div>
        </div>
                                            <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control narration" placeholder="Narration">
            </div>
        </div>
                    
                </div>

                
            </div>
            
        </div>
        <div class="py-3">

            <button type="submit" class="btn text-white">Post Transaction</button>
        </div>
    <!-- END OF TRANSFER TO ZENITH CONTENT --></div>


      <div class="tab-pane fade" id="content-4" aria-labelledby="tab-4" role="tabpanel">
            <!-- TRANSFER TO GAM SWITCH -->
    <div class="">
        
        <div class="row paydiv shadow text-cnter">
            <div class="col-lg-6 paymenttt mb-2 py-2 bg-light "><p class="text-center text-black">Payment Options</p></div>
            <div class="col-lg-6 paymentt mb-2"><p class="text-center text-white py-2">Transfer (GAM Switch)</p></div>
<!-- <div class="row paydiv shadow"> -->
    <div class="col-lg-6 acctType p-2">
 <div class="row py-3">
    <p class="px-4 acctTitle">Debit Account Information</p>
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Type</label>
                    <select class="select formName">
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >CA</option
                                   >
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >Cash Pickup</option
                                   >
                                   <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     >Transfer to Zenith</option
                                   >
                                   <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                     >Transfer (GAM Switch)</option
                                   >
                                   <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                     >Transfer (ACP-ACH)</option
                                   >
                                 </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex">

                    <label class="me-2 py-2" for="lastname">Account&nbsp;Number</label>
                    <input type="text" class=" form-control formName" placeholder="Account Number">
                </div>
            </div>
                                        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Currency</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >GMD</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Account&nbsp;Name</label>
                <input type="text" class=" form-control formName" placeholder="Account Name">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Status</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Active</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Charge&nbsp;Amount</label>
                <input type="text" class=" form-control formName" placeholder="Charge Amount">
            </div>
        </div>
                                    <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control address" placeholder="Narration">
            </div>
        </div>

       
    </div>
    </div>
    
    <div class="col-lg-6 p-2 acctType">
        <div class="row py-3">
    <p class="px-5 acctTitle">Credit Account Information</p>
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Bank&nbsp;Name</label>
                    <select class="select formName">
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >CA</option
                                   >
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >Cash Pickup</option
                                   >
                                   <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     >Transfer to Zenith</option
                                   >
                                   <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                     >Transfer (GAM Switch)</option
                                   >
                                   <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                     >Transfer (ACP-ACH)</option
                                   >
                                 </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="lastname">Account&nbsp;Number</label>
                    <input type="text" class=" form-control formName" placeholder="Account Number">
                </div>
            </div>
                                        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Name </label>
                <input type="text" class=" form-control formName" placeholder="Account Name">
                </div>
                
            </div>

            <div class="col-md-6 d-flex mb-2">
                <label class="me-2 py-2" for="lastname">Currency</label>
                                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >GMD</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>

            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Charge&nbsp;Amount</label>

                    <input type="text" class=" form-control address" placeholder="Charge Amount"> 

                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Amount&nbsp;Due</label>
                <input type="text" class=" form-control formName" placeholder="Amount Due">
            </div>
        </div>
                                    <div class="row">
                                
            <div class="col-md-12 d-flex">
              <div class="col-lg-6 d-flex"> <label class="me-2 py-2" for="firstname">Account&nbsp;Status</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Active</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
            </div>
            <div class="col-lg-6 d-flex"> 
              <label class="me-2 py-2" for="firstname">Narration</label>
              <input type="text" class=" form-control address" placeholder="Narration"></div>
             
          </div>

       
    </div>
    </div>
</div>
            
        </div>
        <!-- END OF PAYMENT -->

        <!-- AFTER PAY OPTIONS -->
        
         
    <!-- </div> -->

    
    <div class="row paydiv shadow-sm card p-2">
            <div class="col-lg-12">
                <div class="">
<p class="px-5 acctTitle text-center">Other Transaction Details</p>
                            <div class="row p-2">
            <div class="col-md-4 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="amount">Transaction&nbsp;Amount</label>
                    <input type="text"  class="form-control formName" placeholder="Transaction Amount">
                </div>
            </div>

            <div class="col-md-4 d-flex mb-2">
                <label class="me-2 py-2" for="ordernumber">Transaction&nbsp;Date</label>
                <input type="text" class=" form-control formName" placeholder="Transaction Date">
            </div>
            <div class="col-md-4 d-flex">
                <label class="me-2 py-2" for="sequencnumber">Error&nbsp;Code</label>
                <input type="text" class=" form-control formName" placeholder="Error Code">
            </div>
        </div>
                                            <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control narration" placeholder="Narration">
            </div>
        </div>
                    
                </div>

                
            </div>
            
        </div>
        <div class="py-3">

            <button type="submit" class="btn text-white">Post Transaction</button>
        </div>
    <!-- END OF TRANSFER TO GAM SWITCH CONTENT -->

</div>
      </div>
      <div class="tab-pane fade" id="content-5" aria-labelledby="tab-5" role="tabpanel"> <!-- TRANSFER TO ACP-ACH -->
    <div class="">
        
        <div class="row paydiv shadow text-cnter">
            <div class="col-lg-6 paymenttt mb-2 py-2 bg-light "><p class="text-center text-black">Payment Options</p></div>
            <div class="col-lg-6 paymentt mb-2"><p class="text-center text-white py-2">Transfer (ACP-ACH)</p></div>
<!-- <div class="row paydiv shadow"> -->
    <div class="col-lg-6 acctType p-2">
 <div class="row py-3">
    <p class="px-4 acctTitle">Debit Account Information</p>
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Type</label>
                    <select class="select formName">
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >CA</option
                                   >
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >Cash Pickup</option
                                   >
                                   <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     >Transfer to Zenith</option
                                   >
                                   <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                     >Transfer (GAM Switch)</option
                                   >
                                   <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                     >Transfer (ACP-ACH)</option
                                   >
                                 </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex">

                    <label class="me-2 py-2" for="lastname">Account&nbsp;Number</label>
                    <input type="text" class=" form-control formName" placeholder="Account Number">
                </div>
            </div>
                                        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Currency</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >GMD</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Account&nbsp;Name</label>
                <input type="text" class=" form-control formName" placeholder="Account Name">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Status</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Active</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Charge&nbsp;Amount</label>
                <input type="text" class=" form-control formName" placeholder="Charge Amount">
            </div>
        </div>
                                    <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control address" placeholder="Narration">
            </div>
        </div>

       
    </div>
    </div>
    
    <div class="col-lg-6 p-2 acctType">
        <div class="row py-3">
    <p class="px-5 acctTitle">Credit Account Information</p>
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">BBAN&nbsp;</label>
                     <input type="text" class=" form-control formName" placeholder="BBAN">
                    <!-- <select class="select formName">
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >CA</option
                                   >
                                   <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                     >Cash Pickup</option
                                   >
                                   <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     >Transfer to Zenith</option
                                   >
                                   <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                     >Transfer (GAM Switch)</option
                                   >
                                   <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                     >Transfer (ACP-ACH)</option
                                   >
                                 </select> -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="lastname">Account&nbsp;Number</label>
                    <input type="text" class=" form-control formName" placeholder="Account Number">
                </div>
            </div>
                                        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">
                <label class="me-2 py-2" for="lastname">Account&nbsp;Name</label>
                <input type="text" class=" form-control formName" placeholder="Account Name">

                </div>
                
            </div>

            <div class="col-md-6 d-flex mb-2">
                    <label class="me-2 py-2" for="firstname">Currency</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >GMD</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Charge&nbsp;Amount</label>
                                    <input type="text" class=" form-control formName" placeholder="Charge Amount">

                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="lastname">Amount&nbsp;Due</label>
                <input type="text" class=" form-control formName" placeholder="Amount Due">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="firstname">Account&nbsp;Status</label>
                    <select class="select formName">
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Active</option
                >
                <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  >Cash Pickup</option
                >
                <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                  >Transfer to Zenith</option
                >
                <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  >Transfer (GAM Switch)</option
                >
                <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                  >Transfer (ACP-ACH)</option
                >
              </select>
                </div>
                
            </div>

            <div class="col-md-6 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control address" placeholder="Narration">
            </div>
        </div>
                                    <!-- <div class="row">
                                
            <div class="col-md-12 d-flex">
            
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control address" placeholder="Narration">
            </div>
        </div> -->

       
    </div>
    </div>
</div>
            
        </div>
        <!-- END OF PAYMENT -->

        <!-- AFTER PAY OPTIONS -->
        
         
    <!-- </div> -->

    
    <div class="row paydiv shadow-sm card p-2">
            <div class="col-lg-12">
                <div class="">
<p class="px-5 acctTitle text-center">Other Transaction Details</p>
                            <div class="row p-2">
            <div class="col-md-4 d-flex">
                <div class="d-flex mb-2">

                    <label class="me-2 py-2" for="amount">Transaction&nbsp;Amount</label>
                    <input type="text"  class="form-control formName" placeholder="Transaction Amount">
                </div>
            </div>

            <div class="col-md-4 d-flex mb-2">
                <label class="me-2 py-2" for="ordernumber">Transaction&nbsp;Date</label>
                <input type="text" class=" form-control formName" placeholder="Transaction Date">
            </div>
            <div class="col-md-4 d-flex">
                <label class="me-2 py-2" for="sequencnumber">Error&nbsp;Code</label>
                <input type="text" class=" form-control formName" placeholder="Error Code">
            </div>
        </div>
                                            <div class="row">
                                
            <div class="col-md-12 d-flex">
                <label class="me-2 py-2" for="firstname">Narration</label>
                <input type="text" class=" form-control narration" placeholder="Narration">
            </div>
        </div>
                    
                </div>

                
            </div>
            
        </div>
        <div class="py-3">

            <button type="submit" class="btn text-white">Post Transaction</button>
        </div>
    <!-- END OF TRANSFER TO ACP-ACH CONTENT --></div>
    </div>
  </div>
</main>
  </div>
</section>




<!-- ANOTHER TESTING -->
<!-- ANOTHER TESTING -->
<!-- ANOTHER TESTING -->
<!-- ANOTHER TESTING -->
 <div class="tab-content">
      <div class="tab-pane fade show active" id="content-1" aria-labelledby="tab-1" role="tabpanel">
        <!-- SELECT OPTIONS CONTENT -->
      </div>
      <div class="tab-pane fade" id="content-2" aria-labelledby="tab-2" role="tabpanel"> <!-- POST TRANSACTION -->    

    <!-- END OF POST TRANSACTION CONTENT -->
  </div>

    </div>
<!-- ANOTHER TESTING -->
<!-- ANOTHER TESTING -->
<!-- ANOTHER TESTING -->
<!-- ANOTHER TESTING -->
<!-- ANOTHER TESTING -->