<table class="shadow-sm container">
    <tr><td colspan="5">
<h3>Order Items:</h3>
    </td></tr>
    <tr *ngFor="let item of order.items">
        <td>
        <a routerLink="/room/{{item.room.id}}">
            <img [src]="item.room.roomImg" alt="{{item.room.roomName}}">
        </a></td>
        <td>
            {{item.room.roomName}}

        </td>
        <td>{{item.room.roomPrice | currency: '₦'}}</td>
        <td>
           {{item.days}} 
        </td>
        <td>
            {{item.price | currency: '₦'}}
        </td>
        <td>
          <div class="date">
            <!-- <div class="d-flex">
              <p>Book Date</p>
              <input class="form-control mb-2" type="date" value="{{item.checkoutDate}}" />
            </div>
            <div class="d-flex">
              <p>CheckOut Date</p>
              <input class="form-control mb-2" type="date" value="{{item.bookDate}}" />
            </div> -->
          </div>
        </td>
    </tr>
    <tr>
        <td class="colso" colspan="4"></td>
        <td><strong>
            {{order.totalPrice | currency: '₦'}}
        </strong></td>
        
    </tr>
</table>