<div class="top-bar">
  <div class="container mt-3 ms-5"> <ul class="d-flex">
 <li class=" topLi">
    <a class="top-link1 me-3 text-left" routerLink="register">09052794388</a>
  </li> <li class="topLi1  me-3">|</li>
  <li class=" topLi">
    <a class="top-link1 text-left me-5" routerLink="login">Info@ashhotel.com</a>
  </li></ul></div>

  <div class="ms-auto mt-3">
    <ul class="d-flex">
    <li class=" topLi">
      <a class="top-link me-3 text-left" routerLink="/register">Register</a>
    </li> <li class="topLi  me-3">|</li>
    <li class=" topLi">
      <a class="top-link text-left me-5" routerLink="/login">Login</a>
    </li></ul></div></div>
 
<nav class="navbar navbar-expand-lg shadow-sm navbar-light bg-white">
    <div class="container-fluid ">
      <a class="navbar-brand me-5 mx-5" href="#"><img src="/assets/images/LOGO (1).jpg" alt="" style="height: 70px;" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-5">
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="">
                <a class="navBtn me-5 mx-3" href="#">GET STARTED</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>