.top-bar{
    background-color: #112A48;
    display: flex;
    
}
.top-link, .topLi{
    text-decoration: none!important;
    list-style: none;
    color: white ;
}
.top-link1, .topLi{
    text-decoration: none!important;
    list-style: none;
    color: white ;
}
.topDiv{
    justify-content: end;
}
@media (max-width: 600px) {

.top-link1{
    display: none;
}
  }


.navBtn {

    font-size: 14px !important;
    color: white !important;
    background-color: #112A48 !important;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    text-decoration: none !important;
    /* text-align: left;
    align-items: left; */

    
    
}
.nav-link{
    color: #112A48!important;
    font-weight: 500;

}