<div class="top-bar">
  <!-- <div class="container mt-3 ms-5"> <ul class="d-flex">
 <li class=" topLi">
    <a class="top-link1 me-3 text-left" routerLink="register">09052794388</a>
  </li> <li class="topLi1  me-3">|</li>
  <li class=" topLi">
    <a class="top-link1 text-left me-5" routerLink="login">Info@ashhotel.com</a>
  </li></ul></div> -->

  <div class=" mt-3">
    <ul class="d-flex">
    <li class=" topLi">
      <a class="top-link me-3 text-left" routerLink="/register">09052794388</a>
    </li> <li class="topLi  me-3">|</li>
    <li class=" topLi">
      <a class="top-link text-left me-5" routerLink="/login">Pius1ash@gmail.com</a>
    </li>
  </ul></div>
  <div class="ms-auto mt-3 details">
    <ul class="d-flex">
    <li *ngIf="!isAuth" class=" topLi">
      <a class="top-link me-3 text-left user" routerLink="/register">Register</a>
    </li> <li *ngIf="!isAuth" class="topLi  me-3">|</li>
    <li class=" topLi">
      <a *ngIf="!isAuth" class="top-link text-left me-5 user" routerLink="/login">Login</a>
    </li>
    <li class=" topLi" *ngIf="resp.isAdmin === true">
      <a  *ngIf="isAuth" class="top-link user text-left me-3" routerLink="/admin/{{this.resp.id}}">Hey, {{this.resp.firstName}} </a>
    </li>
    <li class=" topLi" *ngIf="resp.isAdmin === false">
      <a  *ngIf="isAuth" class="top-link user text-left me-3" routerLink="/user/{{this.resp.id}}">Hey, {{this.resp.firstName}} </a>
    </li>
    <li class=" topLi">
      <a  *ngIf="isAuth" class="top-link user text-left me-3" routerLink="/cart-page" >Cart <span class="cartNo"><a routerLink="/cart-page">{{cartQuantity}}</a></span></a>
    </li>
    <li *ngIf="isAuth" class=" topLi">
      <a class="top-link user text-left me-5" data-toggle="modal" data-target="#exampleModalCenter" >Logout</a>
    </li>
  </ul></div>
</div>
 
<nav class="navbar navbar-expand-lg shadow-sm navbar-light bg-white">
    <div class="container-fluid ">
      <a class="navbar-brand me-5 mx-5" href="#"><img src="/assets/images/LOGO (1).jpg" alt="" style="height: 65px;" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-5">
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/rooms">Rooms</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="">
                <a class="navBtn me-5 mx-3" routerLink="/rooms">GET STARTED</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Logout Modal -->
<div class="modal fade shadow justify-content-center" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center"><i class="bi bi-question-circle-fill"></i></div>
        <h4 class="modal-title text-center" id="exampleModalCenterTitle">Are you sure you want to log out?</h4>
      </div>
      <div class="modal-footer">
        <button type="button"  (click)="logout()" class="btn btn-primary" >Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>