.top-bar{
    background-color: #112A48;
    display: flex;
    
}
.user:hover{
    background-color: white;
    padding: 9px;
    color: #112A48!important;
    cursor: pointer;
}
.top-link, .topLi{
    text-decoration: none!important;
    list-style: none;
    color: white ;
}
.top-link1, .topLi{
    text-decoration: none!important;
    list-style: none;
    color: white ;
    align-items: center;
    align-content: center;
}
.topDiv{
    justify-content: end;
}
@media (max-width: 600px) {
.details{
    display: none;
}
.top-link1{
    display: none;
}
  }

  .cartNo a{
    color: #112A48;
    background-color: white;
    padding: 8px;
    border-radius: 200px;
    font-weight: 700;
  }
  .cartNo a:hover{
    background-color: #112A48!important;
    color: white;
    padding: 8px;
    border-radius: 100%;
  }


.navBtn {

    font-size: 14px !important;
    color: white !important;
    /* background-color: #112A48 !important; */
    background-color: #D9A000;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    text-decoration: none !important;
    /* text-align: left;
    align-items: left; */

    
    
}
.nav-link{
    color: #112A48!important;
    font-weight: 500;

}

.bi-question-circle-fill{
    font-size: 70px;
    color: #112A48;
    
}

/* .modal-content{
    border: 2px solid #112A48!important;
} */

.modal-footer{
    display: flex;
    justify-content: center;
}
.btn-primary{
    background-color: #112A48;
    border: none;
    font-size: 20px;
}
.btn-secondary{
    border: none;
    font-size: 20px;
}
.btn-primary:active{
    background-color: #112A48;
    border: none;
    font-size: 20px;
}
.btn-primary:hover{
    background-color: #112A48;
    border: none;
    font-size: 20px;
}

/* .modal{
    height: 700px;
} */

.modal-title{
    font-size: 20px;
    font-weight: 600;
}