<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/main-bg-section-header.jpg" class="d-block w-100" alt="..." style="height: 550px;">
        <div class="carousel-caption d-none d-md-block">
            <h5 class="schMoto"> Explore! Discover! Live!</h5>
            <p class="schDes">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit harum
                laudantium
                temporibus maiores quas vero quaerat amet, natus atque illum! Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Iusto, maiores!</p>
          <a class="heroBtn mt-5 me-5 text-center" href="http://">ABOUT US</a>            <a class="heroBtn1 mt-5 text-center" href="http://">CONTACT US</a>

        </div>
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



