


    <!-- Dashboard -->
    <div class="d-flex flex-column flex-lg-row">
        <!-- Vertical Navbar -->
        <app-admin-side-bar></app-admin-side-bar>
      
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
          <!-- Header -->
          <header class="bg-surface-primary border-bottom pt-6 nav-tabs">
            <div class="container-fluid">
              <div class="mb-npx">
                <div class="row align-items-center">
                  <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <!-- Title -->
                    <h1 class="h3 mb-0 ls-tight py-5">  Booked Rooms</h1>
                  </div>
                  <!-- Actions -->
                  <div class="col-sm-6 col-12 text-sm-end">
                    <div class="mx-n1">
                      <a
                        href="#"
                        class="btn d-inline-flex btn-sm btn-neutral border-base mx-1"
                      >
                        <span class="pe-2"> <i class="bi bi-pencil"></i> </span>
                        <span>Edit</span>
                      </a>
                      <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
                        <span class="pe-2"> <i class="bi bi-plus"></i> </span>
                        <span>Create</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
      
          <!-- Main -->
      
          <main class="py-6 ">
            <div class="container-fluid">



           <!-- TABLE STARTS HERE -->
        <div class="card shadow border-0">
          <div class="table-responsive">
            <table class="table table-hover overflow-x" id="example1">
              <thead class="thead-light fw-bold">
                <tr>
                                    <th class="fw-bold" scope="col">Payment ID</th>
                  <th class="fw-bold" scope="col">USER</th>
                  <th class="fw-bold" scope="col">USER CONTACT</th>
                  <!-- <th class="fw-bold" scope="col">Room ID</th> -->

                  <!-- <th class="fw-bold" scope="col">Check In</th>  -->
                  <th class="fw-bold" scope="col">Check In</th> 
                  <th class="fw-bold" scope="col">Duration</th> 
                  <th class="fw-bold" scope="col">Amount</th>
                  <!-- <th class="fw-bold" scope="col">Checkout Date</th> -->


                  <th class="" scope="col">Status</th>
                  <th></th>
                </tr>
              </thead>

              <!-- TABLE BODY STARTS -->
              <tbody>
                <!-- <tr *ngFor="let order of orders"> -->
                <tr *ngFor="let order of orders | paginate: {itemsPerPage: 5, currentPage: p};">
                  <td>
                    <a class="text-heading font-semibold" href="#">
                      {{ order.payment_Id }}
                    </a>
                  </td>
                  <td>
                    <a class="text-heading font-semibold" href="#">
                       {{ order.firstName }} {{ order.lastName }}
                    </a>
                  </td>
                  <td>{{ order.phone }}</td>
                  <td>{{ order.startDate | date: "MM-dd-yyyy" }} </td>
                  <td *ngIf="order.days < 2" >{{ order.days }} day</td>
                  <td *ngIf="order.days > 1" >{{ order.days }} days</td>
                  <td>{{ order.roomPrice | currency: '₦' }}</td>
                  <!-- <td>{{ order.checkOutDate | date: "medium" }}</td> -->


                  
                  <!-- <td>{{ order.items }}</td> -->
                  <td>
                    <span class="badge badge-lg badge-dot">
                      <i class="bg-success"></i> Paid
                      <!-- {{ order.status }} -->
                    </span>
                  </td>
                  <td class="text-end">
                    <!-- <a href="#" class="bg-light btn-sm btn-neutral ">View</a> -->
                    <button
                      type="button" data-toggle="modal" data-target="#exampleModalCenter1"
                      class="btn btn-sm btn-square btn-neutral text-danger-hover"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                    <!-- delete Modal -->
<div class="modal fade shadow justify-content-center" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center"><i class="bi bi-question-circle-fill"></i></div>
        <h4 class="modal-title text-center" id="exampleModalCenterTitle">Are you sure you want to delete this order</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteOrder(order.id)" >Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>

           
              
              
<!-- END OF TABLE -->
            
            </div>
          </main>
        </div>
      </div>
      
    