<app-navbar></app-navbar>
<app-hero-slider></app-hero-slider>

<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="wel mb-4">Welcome to Ash hotel</h3>
                <p>Sona.com is a leading online accommodation site. <br> We’re passionate about travel. Every day, we inspire and reach millions of travelers across 90 local websites in 41 languages.
<br>
                 </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3  .d-sm-none .d-md-block ">
                <div id="carousel">
                    <figure><img src="/assets/images/gallery-Dinning-08.jpg"></figure>
                    <figure><img src="/assets/images/gallery-Dinning-08.jpg"></figure>
                    <figure><img src="/assets/images/gallery-frontExterior-07-768x660.jpg"></figure>
                    <figure><img src="/assets/images/gallery-Pool-05-768x660.jpg"></figure>
                    <figure><img src="/assets/images/room04-768x660.jpeg"></figure>
                    <figure><img src="/assets/images/room07-768x660.jpeg"></figure>
                    <figure><img src="/assets/images/room06-768x660.jpg"></figure>
                    <figure><img src="/assets/images/room07-768x660.jpeg"></figure>
                    <figure><img src="/assets/images/room08-768x660.jpeg"></figure>
                </div>
            </div>
            <div class="col-lg-1"></div>
            


                </div></div>
        

</section>





<!-- TAB SECTION -->
<section class="py-5">
    <div class="container-fluid">
      <div class="row tabRow py-5">
        <div class="row  text-center py-3">
            <h4 class="fw-bold">OUR EXCLUSIVE PACKAGES</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Illum magnam atque ea impedit iste! Facilis quaerat ab distinctio modi labore!</p>
        </div>
        
        <div class="col-lg-3"><div class="card card1 mb-2 ">
          <div class="card-body">
            <h5 class="card-title text-white">Pick Up & Drop <span class="ms-5 wifi"><i class="bi bi-capslock-fill"></i></span></h5>
            <p class="card-text text-white">
              We’ll pick up from airport while you comfy on your ride, mus nellentesque habitant.
            </p>
        
        
          </div>
        </div></div>
    
        <div class="col-lg-3"><div class="card card2 mb-2">
      <div class="card-body">
        <h5 class="card-title">Room Service <span class="ms-5 wifi"><i class="bi bi-check-square-fill"></i></span></h5>
        <p class="card-text">
          Room tincidunt nis ace park norttito sit amet space, mus nellentesque habitant.
        </p>
    
    
      </div>
    </div></div>
        <div class="col-lg-3"><div class="card card1 mb-2 ">
          <div class="card-body">
            <h5 class="card-title text-white">Swimming Pool <span class="ms-5 wifi"><i class="bi bi-union"></i></span></h5>
            <p class="card-text text-white">
              Swimming pool tincidunt nise ace park norttito sit space, mus nellentesque habitant.
            </p>
        
        
          </div>
        </div></div>
        <div class="col-lg-3"><div class="card card1 ">
          <div class="card-body">
            <h5 class="card-title text-white">Fibre Internet <span class="ms-5 wifi"><i class="bi bi-wifi"></i></span></h5>
            <p class="card-text text-white">
                Wifi tincidunt nis ace park norttito sit amet space, mus nellentesque habitant.
            </p>
        
        
          </div>
        </div></div>
        
    
    
        
      </div>
    </div>
    </section>
    <app-hotel-list class="py-5"></app-hotel-list>
<app-footer></app-footer>