<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row">
  <!-- Vertical Navbar -->
  <!-- SIDEBAR -->
  <!-- Vertical Navbar -->
<!-- SIDEBAR -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <!-- <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li> -->
  <!-- <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li> -->
  <!-- <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li> -->
</ul>

<!-- Vertical Navbar -->
<nav
class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light border-bottom border-bottom-lg-0 border-end-lg" style=" background-color: #112A48;"
id="navbarVertical" 
>
<div class="container-fluid">
  <!-- Toggler -->
  <button
    class="navbar-toggler ms-n2"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarCollapse"
    aria-controls="sidebarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Brand -->
  <a class="navbar-brand py-lg-3 mb-lg-3 px-lg-6 me-0" href="#">
    <img
      src="/assets/images/LOGO (2).png"
      alt="..." style="height: 130px;"
    />
  </a>
  <!-- User menu (mobile) -->
  <div class="navbar-user d-lg-none d-sm-none">
    <!-- Dropdown -->
    <div class="dropdown">
      <!-- Toggle -->
      <a
        href="#"
        id="sidebarAvatar"
        role="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="avatar-parent-child">
          <img
            alt="Image Placeholder"
            src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
            class="avatar avatar- rounded-circle"
          />
          <span class="avatar-child avatar-badge bg-success"></span>
        </div>
      </a>
      <!-- Menu -->
      <div
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="sidebarAvatar"
      >
        <a href="#" class="dropdown-item">Profile</a>
        <a href="#" class="dropdown-item">Settings</a>
        <a href="#" class="dropdown-item">Billing</a>
        <hr class="dropdown-divider" />
        <a href="#" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>
  <!-- Collapse -->
  <div class="collapse navbar-collapse" id="sidebarCollapse">
    <!-- Navigation -->
    <ul class="navbar-nav mt-3" id="myTab" >
    <!-- <ul class="navbar-nav mt-3" nav nav-tabs" role="tablist" > -->
      <li class="nav-item">
        <a class="nav-link text-white" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <i class="bi bi-house"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <i class="bi bi-bar-chart"></i>Booking
        </a>
      </li>

    </ul>
    <!-- Divider -->
    <hr class="navbar-divider my-5 opacity-20" />
    <!-- Navigation -->

    <!-- Push content down -->
    <div class=""></div>
    <!-- User (md) -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
          <i class="bi bi-person-square"></i> Account Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white logout" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="bi bi-box-arrow-left"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</div>
</nav>



<!-- Logout Modal -->
<div class="modal fade shadow justify-content-center" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center"><i class="bi bi-question-circle-fill"></i></div>
        <h4 class="modal-title text-center" id="exampleModalCenterTitle">Are you sure you want to log out?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logout() " >Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- END OF SIDEBAR -->
<!-- Logout Modal -->
<div class="modal fade shadow justify-content-center" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center"><i class="bi bi-question-circle-fill"></i></div>
        <h4 class="modal-title text-center" id="exampleModalCenterTitle">Are you sure you want to log out?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logout() " >Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
  <!-- END OF SIDEBAR -->

  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom py-3 pt-6">
      <div class="container-fluid">
        <div class="mb-npx">
          <div class="row align-items-center">
            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
              <!-- Title -->
              <h1 class="h3 mb-4 py-3 ls-tight">Welcome, <span class="">{{user.firstName}}</span></h1>
            </div>
            <!-- Actions -->
            <div class="col-sm-6 col-12 text-sm-end">
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main -->

    <main class="py-6 bg-surface-secondary">
      <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><div class="container-fluid">
        <!-- Card stats -->
        <div class="row g-6 mb-6 ">
          <!-- <div class="col-xl-2 col-sm-2 col-8">
            
          </div> -->
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Booked Room</span
                    >
                    <span class="h4 font-bold mb-0">{{recentRoom}}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-credit-card"></i>
                    </div>
                  </div>
                </div>
                <div class="mt-2 mb-0 text-sm">
                  <span
                    class="badge badge-pill bg-soft-success text-success me-2"
                  >
                    <i class="bi bi-arrow-up me-1"></i>13%
                  </span>
                  <span class="text-nowrap text-xs text-muted"
                    >Recent Booking</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Checkout Time</span
                    >
                    <span class="h4 font-bold mb-0">9/05/2022</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-info text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-clock-history"></i>
                    </div>
                  </div>
                </div>
                <div class="mt-2 mb-0 text-sm">
                  <span
                    class="badge badge-pill bg-soft-success text-success me-2"
                  >
                    <i class="bi bi-arrow-up me-1"></i>30%
                  </span>
                  <span class=" text-xs text-muted"
                    >Latest Info</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Total booking</span
                    >
                    <span class="h4 font-bold mb-0">{{orderCount}}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-info text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-clock-history"></i>
                    </div>
                  </div>
                </div>
                <div class="mt-2 mb-0 text-sm">
                  <span
                    class="badge badge-pill bg-soft-success text-success me-2"
                  >
                    <i class="bi bi-arrow-up me-1"></i>30%
                  </span>
                  <span class=" text-xs text-muted"
                    >Latest Info</span
                  >
                </div>
              </div>
            </div>
          </div>
          
        </div>


             
      </div></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">BOOKING</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><div class="container-fluid bg-white">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-8 py-3">
            <form #form="ngForm" (ngSubmit)="updateUser()">
              <div class="row mt-5">
                <div class="col-lg-4">
                  <span class="label">First Name</span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    [(ngModel)]="user.firstName"
                    id="firstName"
                    name="firstName"
                  />
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                  <span class="label">Last Name</span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    [(ngModel)]="user.lastName"
                    id="lastName"
                    name="lastName"
                  />
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-lg-4">
                  <span class="label">Phone Number</span>
                  <input
                    autocomplete="chrome-off"
                    name="phoneNo"
                    maxlength="11"
                    type="number"
                    class="form-control"
                    placeholder="Phone Number"
                    [(ngModel)]="user.phoneNo"
                    id="phoneNo"
                  />
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                  <span class="label">Email Address</span>
                  <input
                    type="text"
                    autocomplete="chrome-off"
                    class="form-control"
                    placeholder="Email address"
                    [(ngModel)]="user.email"
                    id="email"
                    name="email"
                  />
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-lg-4">
                  <span class="label">Date of Birth</span>
                  <input
                    type="date"
                    class="form-control shadow-sm d-flex align-items-center"
                    id="dateOfBirth"
                    [(ngModel)]="user.dateOfBirth"
                    name="dateOfBirth"
                  />
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                  <span class="label">Gender</span>
                  <select
                    [(ngModel)]="user.gender"
                    name="gender"
                    class="form-select form-control flex align-items-center shadow-sm py-2 px-2"
                    id="gender"
                    aria-label=""
                  >
                    <option selected hidden>Gender</option>
                    <option class="valAmount" value="Male">Male</option>
                    <option class="valAmount" value="Female">Female</option>
                  </select>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-lg-9">
                  <span class="label">Address</span>
                  <input
                    autocomplete="chrome-off"
                    name="address"
                    type="text"
                    class="form-control"
                    placeholder="Address"
                    id="address"
                    [(ngModel)]="user.address"
                  />
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-lg-4">
                  <span class="label">State</span>
                  <input
                    autocomplete="chrome-off"
                    type="text"
                    class="form-control"
                    placeholder="State"
                    id="state"
                    name="state"
                    [(ngModel)]="user.state"
                  />
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                  <span class="label">Country</span>
                  <input
                    autocomplete="chrome-off"
                    type="text"
                    class="form-control"
                    placeholder="Country"
                    name="country"
                    id="country"
                    [(ngModel)]="user.country"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-9">
                  <div class="col-12 p-0">
                    <button type="submit" class="btn btn-success w-100">Update Info</button>
                    <!-- <div class="btn btn-success w-100"></div> -->
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div></div>
</div>
      
    </main>
  </div>
</div>
