<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center ">

        <div class="col-md-8">

            <div class="card shadow-sm" id="prints">

<!-- 
                    <div class="text-left px-5 mt-4">

                        <img src="assets/images/LOGO (1).png" width="150">
                        

                    </div> -->

                    <div class="invoice p-5">
                        <img class="mb-3" src="assets/images/LOGO (1).png" width="170">

                        <h5>Your order Confirmed!</h5>

                        <span class="font-weight-bold d-block mt-4">Hello, Chris</span>
                        <span>Your room has been booked successfully!</span>

                        <div class="payment border-top mt-2 mb-2 border-bottom table-responsive">

                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-1">

                                                <span class="d-block text-muted">Order Date</span>
                                            <span>12 Jan,2018</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-1">

                                                <span class="d-block text-muted">Order No</span>
                                            <span>MT12332345</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-1">

                                                <span class="d-block text-muted">Payment</span>
                                            <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>




                            
                        </div>




                            <div class="product border-bottom table-responsive">

                                <table class="table table-borderless">

                                <tbody>
                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="https://i.imgur.com/u11K1qd.jpg" width="90">

                                    </td>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">Men's Sports cap</span>
                                        <div class="product-qty">
                                            <span class="d-block text-black">Duration: 1</span>
                                            
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$67.50</span>
                                        </div>
                                    </td>
                                    </tr>


                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="https://i.imgur.com/SmBOua9.jpg" width="70">

                                    </td>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">Men's Collar T-shirt</span>
                                        <div class="product-qty">
                                            <span class="d-block">Duration: 1</span>

                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$77.50</span>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody> 
                                    
                                </table>
                                


                            </div>



                            <div class="row d-flex justify-content-end">

                                <div class="col-md-5">

                                    <table class="table table-borderless">

                                        <tbody class="totals">

                                            




                                             


                                             <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">

                                                        <span class="font-weight-bold total">Total Cost</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">$238.50</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                                


                            </div>


                            <!-- <p>We will be sending shipping confirmation email when the item shipped successfully!</p> -->
                            <p class="font-weight-bold mb-0">Enjoy your stay with us!</p>
                            <span>Ash Hotel</span>



                        

                    </div>


                    <div class="d-flex justify-content-between footer p-3">

                        <span>Need Help? visit our <a href="#"> help center</a></span>
                         <span>{{todayDate | date: 'medium'}}</span>
                        
                    </div>

           <button class="btn btn-primary" (click)="printReceipt()">Print</button>

        
    </div>

        </div>
        
    </div>
    
</div>