



<div class="container-body">
  

    <div class="img container mt-1">
        <img class="logo" src="/assets/images/Zenith (1).svg" alt="">
        <img class="logo" src="/assets/images/RIA (1).svg" alt="">
        
    </div>

  <!-- <div class="grid-div">
  <div class="hero">

    
  </div>
</div> -->
<div class="container-fluid">
  <h4 class="headings">Beneficiary & Sender Information</h4>
  <div class="row acct">
    <!--Dr Side-->
    <div class="col-md-6 card border-0 box-shadow inner-wrapper">
        <div class="row">

          <h4 class="title">Beneficiary Information</h4>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >First Name</label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Last Name<span class="text-danger">*</span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Address</label
                >
              </div>
              <div class="col-md-9">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--Cr Side-->
    <div class="col-md-6 card border-0 box-shadow inner-wrapper">
        <div class="row">
                  <h4 class="title">Sender Information</h4>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 text-right">
                <label style="font-weight: 700; font-size: 12px"
                  >First Name</label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Last Name<span class="text-danger">*</span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Address</label
                >
              </div>
              <div class="col-md-9">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- ORDER INFORMATION -->

  <h4 class="headings">Order Information</h4>
  <div class="row acct">
    
            
    <!--Dr Side-->
    <div class="col-md-12 card border-0 box-shadow inner-wrapper">
                          <h4 class="titlesuc px-2"> <img  src="assets/images/Featured icon.png" alt="" style="height: 15px;">  Available for payment at 20/05/2022</h4>
      <!-- <h4 class="titlesuc">Available</h4> -->
        <div class="row">

          <div class="col-md-3">
            <div class="row">
              <div class="col-md-4 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Amount</label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Order Number<span class="text-danger">*</span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Sequence Number<span class="text-danger">*</span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <!-- BENEFICIARY IDENTIFICATION -->
  <h4 class="headings">Beneficiary Identification</h4>
  <div class="row acct">
    
            
    <!--Dr Side-->
    <div class="col-md-12 card border-0 box-shadow inner-wrapper">



        <div class="row mt-1">

          <div class="col-md-3">
            <div class="row">
              <div class="col-md-4 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >ID&nbsp;Type</label
                >
              </div>
              <div class="col-md-6">
                 <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >Driss</option>
                        <option></option>
                        
                      </select>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Identification&nbsp;Number<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Issue&nbsp;By&nbsp;Country<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
 <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >Malaysia</option>
                        <option></option>
                        
                      </select>
              </div>
            </div>
          </div>
        </div>

        <!-- ISSUE BY AND EXPIRY DATE -->
        <div class="row">

          <div class="col-md-3">
            <div class="row">
              <div class="col-md-4 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Issue By</label
                >
              </div>
              <div class="col-md-6">
                <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >Government</option>
                        <option></option>
                        
                      </select>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Expiry Date<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>

  <!-- PAY OPTIONS TOGGLE -->
  <div class="row" id="pills-tab" role="tablist">
            <h4 class="headings">Payment Information</h4>
            <ul class="nav nav-tabs acct" id="myTab">
        <li class="nav-item">
          <a href="#home" class="nav-link active" data-bs-toggle="tab"
            >Payment option</a
          >
        </li>
        <li class="nav-item">
          <a href="#profile" class="nav-link" data-bs-toggle="tab"
            >Cash Pickup</a
          >
        </li>
      </ul>
    <!-- <div class="col-lg-6 optionss"> <p class="text-center optText">Payment Options</p></div>
    <div class="col-lg-6 paynow"> <p class="text-center text-white payText">Cash Pickup</p></div> -->
  </div>
<!-- PAYMENT OPTION AND SELECT -->
 <div class="tab-content" id="myTabContent">
        <!-- SELECT PAYMENT -->
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="7days-tab"
        >
         
         <!-- SELECT PAYMENT -->
         <div class="row">
    <div class="col-lg-6 box-shadow">
      <div class="row p-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">  <div class="">
                <h4 class="select">Select Payment Option</h4>
                
 <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >Select</option>
                        <option>Cash Pickup</option>
                        <option>Transfer to Zenith</option>
                        <option>Transfer (GAM Switch)</option>
                        <option>Transfer (ACP-ACH)</option>
                        
                      </select>
        </div> </div>
        <div class="col-lg-3"></div>
      </div>
    </div>


    <div class="col-lg-6 box-shadow"></div>
  </div>

        </div>
        <!--END OF SELECT PAYMENT -->

        <!-- PAYMENT METHOD -->
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="30days-tab"
        >

         <div class="row">
          <div class="col-lg-6 box-shadow">
            <p class="px-2 infoTitle">Debit Account Information</p>
            <!-- ACCOUNT TYPE AND NUMBER -->
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Account&nbsp;By&nbsp;Type<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                      <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >CA</option>
                        <option></option>
                        
                      </select>
              </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Account&nbsp;Number<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
                </div>
              </div>
            </div>

            <!-- CURRENCY AND ACCOUNT NAME -->
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Currency<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >GDM</option>
                        <option></option>
                        
                      </select>
              </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Account&nbsp;Name<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
                </div>
              </div>
            </div>

            <!-- ACCOUNT STATUS AND CHARGE AMOUNT -->
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Account&nbsp;By&nbsp;Status<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
 <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >Active</option>
                        <option></option>
                        
                      </select>
              </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Charge&nbsp;Amount<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
                </div>
              </div>
            </div>

            <!-- NARRATION -->
           
                          <div class="row">
              <div class="col-md-3 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Narration</label
                >
              </div>
              <div class="col-md-9">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>

          </div>
          <div class="col-lg-6 box-shadow">
            <p class=" infoTitle">Credit Account Information</p>
 <!-- ACCOUNT TYPE AND NUMBER -->
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Account&nbsp;By&nbsp;Type<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                      <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >CA</option>
                        <option></option>
                        
                      </select>
              </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Account&nbsp;Number<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
                </div>
              </div>
            </div>

            <!-- CURRENCY AND ACCOUNT NAME -->
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Currency<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >GDM</option>
                        <option></option>
                        
                      </select>
              </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Account&nbsp;Name<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
                </div>
              </div>
            </div>

            <!-- ACCOUNT STATUS AND CHARGE AMOUNT -->
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Account&nbsp;By&nbsp;Status<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
 <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >Active</option>
                        <option></option>
                        
                      </select>
              </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Charge&nbsp;Amount<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
                </div>
              </div>
            </div>

            <!-- NARRATION -->
           
                          <div class="row">
              <div class="col-md-3 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Narration</label
                >
              </div>
              <div class="col-md-9">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
          </div>
         </div>


         <!-- OTHER INFORMATION -->
  <div class="row">
    <div class="col-md-12 card border-0 box-shadow inner-wrapper">



        <div class="row mt-2">

          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Transaction&nbsp;Amount</label
                >
              </div>
              <div class="col-md-6">
                 <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >Driss</option>
                        <option></option>
                        
                      </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Transaction&nbsp;Date<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
                <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  id="accNo"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 text-right">
                <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Error&nbsp;Code<span class="text-danger"></span></label
                >
              </div>
              <div class="col-md-6">
 <select
                        class="px-2 form-control validation-field custom-input Select-Input"
                      >
                        <option value="" >Malaysia</option>
                        <option></option>
                        
                      </select>
              </div>
            </div>
          </div>
        </div>

        <!-- NARRATION -->
            <div class="row">
              <div class="col-md-12 d-flex">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <label color="primary" style="font-weight: 700; font-size: 12px"
                  >Narration</label
                >

               &nbsp;&nbsp;&nbsp; <input
                  class="form-control validation-field custom-input"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
          </div></div>
               <!-- SUBMIT BUTTON -->
               <div class="mt-1">
  <button
      type="button"
      class="btnSubmit"
      
    >
      Post Transaction
    </button>
               </div>
        
        </div>
        <!-- END OF PAYMENT METHOD -->

             
      </div>


</div>
</div>








     
  