
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
/* *{
    background: #fdfaf9;
} */

.payOpt{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;

color: rgba(79, 79, 79, 0.5);
}

.img{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 70px;
height: 70px;
}

.theCol{
    display: flex;
    justify-content: space-between;
    
}

.formName{
   /* width: 160px; */
height: 40px;
width: 100%;

/* White */

background: #FFFFFF;
border: 1px solid #FFC7A5;
border-radius: 8px;
    transition:all 0.9s;
}
.formName::placeholder{
    font-size: 12px;
}
.address::placeholder{
    font-size: 12px;
}
.formName:focus{
   /* width: 200px;
height: 40px;
outline: 0; */


background: #FFFFFF;
border: 1px solid #FFC7A5;
border-radius: 8px;
    transition:all 0.9s;
}
.card{
    border-radius: 8px;
}
.headings{
    font-family: 'Inter', sans-serif;;
font-style: normal;
font-weight: 600;
font-size: 17px;
/* line-height: 19px; */

/* IETech Colours/Black/B300 */

color: #121212;


}



.title{
    font-family: 'Inter', sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 16px;
/* line-height: 19px; */

/* IETech Colours/Grey/G200 */

color: #747474;

}
label{
font-family: 'Inter', sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 13px;
text-align: left;
/* line-height: 17px; */
/* margin: 0px; */


/* identical to box height */

/* text-align: right; */

/* IETech Colours/Grey/G100 */

color: #9E9E9E;

}
.narration{
     background: #FFFFFF;
border: 1px solid #FFC7A5;
border-radius: 8px;
width: 93%;
}
.btn{
    background: #F97D03;
/* Shadow/xs */
border: none;
width: 298px;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}

.address{
    background: #FFFFFF;
border: 1px solid #FFC7A5;
border-radius: 8px;
/* width: 550px;
 */
width: 95%;
 /* transition:all 0.9s; */
}
.address:focus{
    background: #FFFFFF;
border: 1px solid #FFC7A5;
border-radius: 8px;
    transition:all 0.9s;
}
.scan{
       width: 200px;
height: 40px;
outline: 0;
/* White */
background: #FFFFFF;
border: 1px solid #FF8032;
border-radius: 8px;
}

.scanText{
    font-family: 'Inter', sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FF8032;

}
.titlesuc{
    font-family: 'Inter', sans-serif;;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px; 


color: #039855;

}


.payments{
/* background: #F8F8F8; */
height: 32px;
border-radius: 8px;
cursor: pointer;
}

/* .paydiv{
 
height: 360px;
} */
.payment{
    /* width: 600px; */
cursor: pointer;
height: 32px;
background: #FF6100;
border-radius: 8px;
}
.paymentt{
    /* width: 600px; */
cursor: pointer;
height: 32px;
background: #FF6100;
border-radius: 8px;
}
.selectDiv{
    height: 200px;
}
.acctType{
    border: 1.2px solid rgba(79, 79, 79, 0.3);
border-radius: 8px;
}

.paymenttt{
background: #F8F8F8;
height: 32px;
cursor: pointer;
border-radius: 8px;
}
.options{
    /* font-family: 'Inter', sans-serif;; */
font-style: normal;
font-weight: 500;
font-size: 17px;
/* line-height: 17px; */
/* identical to box height */


color: #FFFFFF;

}

.paydiv{
    background: #FFFFFF;
/* border: 1.2px solid rgba(79, 79, 79, 0.25); */
border-radius: 16px;

}