<app-navbar></app-navbar>
<!-- <div class=" bg-light text-center">
    <div class=" container text-center p-4">
        <p class="homeLink text-center px-5">Cart Page</p>
    </div>
</div> -->


<!-- <p *ngFor="let cartItem of cart.items">

    <img [src]="cartItem.room.roomImg" alt="">
</p> -->
    <app-not-found
    [visible]="!cart || !cart.items.length"
    notFoundMessage ="Cart Page is empty"
    resetLink="Go To HomePage">

</app-not-found>


<div *ngIf="cart && cart.items.length" class="container py-5">
<div class="container">
    <p class="cart">Book room</p>
</div>
    <ul class="shadow-sm">
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.room.roomImg" [alt]="cartItem.room.roomName">
            </div>
            <div>
                <a class="text-black" routerLink="/room{{cartItem.room.id}}">{{cartItem.room.roomName}}</a>
            </div>
            <!-- <div>
               <select #daysSelect [value]="cartItem.days" (change)="changeDays(cartItem, daysSelect.value)">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
               </select> 
            </div> -->
            <div>{{cartItem.price | currency: '₦'}}</div>
            <div>
                <button (click)="removeFromCart(cartItem)" class="remove-button">Remove</button>
            </div>
    
        <div class="date">
                <form [formGroup]="form" class="form">
                <div class="d-flex">
                    <p class="h6 me-2 py-2">Start:</p>
                        <input class="form-control mb-2" [value]="cartItem.startDate"
                        (change)="startDt(this.form.value.startDate)" formControlName="startDate" type="date"
                        label="Name" />
                </div>
                <div class="d-flex">
                  <p class="h6 me-2 py-2">CheckOut:</p>
                  <input class="form-control mb-2" id="checkOutDate" [value]="cartItem.days"
                    formControlName="checkOutDate" 
                    (change)="changeDays(cartItem)" type="date" label="Name" />
                </div>
            </form>
            </div>
    
            
        </li>
        
    </ul>

    <div class="checkout shadow-sm ms-5">
<div>
  <div class="room-count">
    {{cart.totalCount}}
  </div>
  <div class="total-price">
    {{cart.totalPrice | currency: '₦'}}
  </div>  
</div>
<a routerLink="/checkout">Proceed to Checkout</a>
    </div>
</div>

<app-footer class="mt-5"></app-footer>
